<nav class ="nav-bar is-flex is-align-items-center">
  <%= link_to root_path do %>
    <span class="iconify has-text-white ml-5" data-icon="ri:sword-fill" data-inline="false"></span>
    <span class="is-size-5 has-text-white">NW Twitter</span>
  <% end %>

  <div class="nav-items mr-5 is-flex">
    <%= nav_edit_button %>
    <%= nav_sign_out_button %>
  </div>
</nav>