<section class="suggestion px-4">
  <div class="suggestion-header is-flex">
    <p>WHO TO FOLLOW</p>
  </div>
  <div class="follow-suggestion is-flex py-5">
    <%= image_tag ("prinny.jpeg"), class: 'suggestion-img pr-3' %>
    <div class="follow-info">
      <p>Name</p>
      <p>Followed by</p>
    </div>
  </div>
</section>