<nav class ="nav-bar is-flex is-align-items-center">
  <a href="#" class="px-5">LOGO</a>
  <div class="nav-items mr-5 is-flex">
    <%= link_to edit_user_registration_path do %>
      <span class="iconify" data-icon="clarity:settings-solid" data-inline="false"></span>
    <% end %>

    <%= link_to destroy_user_session_path, method: :delete do %>
      <span class="iconify" data-icon="codicon:sign-out" data-inline="false"></span>
    <% end %>
  </div>
</nav>